body {
    margin: 0;
    padding: 0;
    background-color: #ffebdb;
    font-family: "Monda", sans-serif;
  }
  
  /* navigation */
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    height: auto;
    background-color: rgba(37, 66, 76);
    top: 0;
    margin: 0;
    padding: 0;
  }
  
  .nav-item img {
    margin-top: 5px;
  }
  
  .nav-item {
    list-style: none;
    margin-right: 1rem;
    text-decoration: none;
    cursor: pointer;
    font-family: "Monda", sans-serif;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #ffebdb;
    padding-right: 1rem;
    font-family: "Monda", sans-serif;
    font-size: 14px;
  }
  
  .nav-item a:hover {
    color: #fb770d;
    cursor: pointer;
  }
  
  .nav-item:first-child {
    margin-right: auto;
    margin-left: 1rem;
    border-right: none;
  }
  
  .prmry-button button {
    background-color: #fb770d;
    border-radius: 1rem;
    margin-right: 0.7rem;
    padding: 0.3rem 1rem;
    color: rgba(37, 66, 76, 1);
    border: none;
    cursor: pointer;
    font-family: "Monda", sans-serif;
    font-size: 14px;
  }
  
  .prmry-button button:hover {
      border-radius: 0.5rem;
      background-color: #fb630d;
  }
  
  /* instruction section */
  .container {
    /* margin: 90px; */
    width: 100vw;
    height: 100%;
  }

  .recipe-name {
    text-align: center;
    margin: 100px 2rem auto 2rem;
    font-family: "Monda", sans-serif;
    color: #25424c;
  }

  .recipe-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    
  }

  .image-section img {
    width: 90%;
    margin: 2rem; 
    border-radius: 0.5rem; 
  }

  .instructions {
      width: 90%;
      margin: 2rem;    
  }

  .ingredients {
    color:rgba(37, 66, 76, 1);
  }

  .directions {
    color:rgba(37, 66, 76, 1);
  }
  /* footer */

footer {
    background-color: rgba(37, 66, 76);
    color: #ffebdb;
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  footer p {
    margin-left: 30px;
    font-family: "Monda", sans-serif;
  }